<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Content Loading</title>
</head>
<body>
    <div id="content"></div>
    <script type="module" src="/appBookDisplay.js"></script>
</body>
</html>