
<form method="post" action="/add-book">
  <input
    placeholder="Název Knihy"
    name="title"
    required>
    <input
    placeholder="Author"
    name="author"
    required>
    <input
    placeholder="language"
    name="language"
    required>
    <input
    placeholder="Summary"
    name="abstract">
  <button type="submit">Přidat knihu</button>
</form>

<form method="post" action="/add-tag">
  <input
    placeholder="Název tagu"
    name="name"
    required>
    <input
    placeholder="Kategorie tagu"
    name="category"
    required>
    <input
    placeholder="Popis tagu"
    name="description"
    required>
  <button type="submit">Přidat tag</button>
</form>