
<form method="post" action="/add-book">
  <input
    placeholder="Název Knihy"
    name="title"
    required>
    <input
    placeholder="Author"
    name="author"
    required>
    <input
    placeholder="language"
    name="language"
    required>
    <input
    placeholder="Summary"
    name="abstract">
  <button type="submit">Přidat</button>
</form>