<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</div>
<form method="post" action="/register-user">
  <input
    placeholder="Nickname"
    name="nickname"
    required>
    <input
    placeholder="Name"
    name="name"
    required>
    <input
    placeholder="Mail"
    name="mail"
    required>
    <input
    placeholder="Role"
    name="role"
    required>
    <input
    placeholder="pasword"
    name="password">
  <button type="submit">Přidat</button>
</form>
</html>